<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schrondinger.quin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".base.activity.MainActivity"></activity>
        <activity android:name=".ui.other.encryto.EncrytoActivity" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.register.CountryRegionSelectActivity" />
        <activity android:name=".webview.ProtocolActivity" />
        <activity android:name=".ui.register.RegisterConfirmActivity" />
        <activity android:name=".ui.register.RegisterResultActivity" />
        <activity android:name=".ui.main.WelcomeActivity" />
        <activity android:name=".ui.mine.MineActivity" />
        <activity android:name=".ui.mine.UserInfoActivity" />
        <activity android:name=".ui.mine.UserHeadPhotoActivity" />
        <activity android:name=".ui.other.OtherFunctionActivity" />
        <activity android:name=".ui.other.customview.custom1.CustomView1Activity" />
        <activity android:name=".ui.other.customview.CustomViewActivity" />
        <activity android:name=".ui.other.customview.custom2.CustomView2Activity" />
        <activity android:name=".ui.other.customview.custom3.CustomView3Activity" />
        <activity android:name=".ui.other.customview.custom4.CustomView4Activity" />
        <activity android:name=".ui.music.MusicOfMineActivity" />
        <activity android:name=".ui.music.MusicOfLocalActivity" />
        <activity
            android:name=".ui.music.MusicPlayActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".ui.service.QuinMediaPlayerService"
            android:exported="false" />

        <activity android:name=".ui.game.GameMainActivity" />
        <activity android:name=".ui.game.GameNBAMainActivity" />
    </application>

</manifest>